<h1><%= "New comment:" %></h1>

<%= form_with(model:[@post, @comment]) do |form| %>
  <%= render 'shared/flash', resource: @comment %>

  <p>
    <%= form.label :body, 'Comment'%>
    <%= form.text_area :body, id: :comment_body, rows: 2 %>
  </p>

  <p><%= form.submit 'Сохранить' %></p> 
<% end %>
