<h2><%= "All posts:" %></h2>

<% @posts.each do |post| %>
  <div> 
    <h4>
        <%= link_to post.title, post_path(post) %><br>
        <small><small> Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email %></small></small>
    </h4>
<% end %>

 

<p>
<%= link_to "New post",  new_post_path %>
</p>