<h1><%= "All posts:" %></h1>

<table class="table" >
  <tr>
    <th class="text-center"><%= "Title" %></th>
    <th class="text-center"><%= "Body" %></th>
    <th colspan="2" ><%= "Action" %></th>
  </tr>
  <%= render @posts %>
</table>
<p>
<%= link_to "New post",  new_post_path %>
</p>