<h3><%= "Post: #{@post.title}" %></h3>

<h5><%= truncate @post.body, length: 150, omission: '... (continued)' %></h5>
<% if @post.image.attached? %>
  <p><%= image_tag @post.image %></p>
<% end%>



<% if @post.comments.present? %>
  <h5><%= "Comments:" %></h5>
  <% @post.comments.each do |i| %> 
    <ol><%= i.body %></ol> 
  <% end %> 
<% else %>
  <%= "No comments!" %>
<% end %>

<div>
  <br>
    <%= link_to "Back", posts_path %>
    <%= link_to "Edit", edit_post_path %>
    <%= link_to "New comment", new_post_comment_path(@post) %>
</div>
