<h3><%= "Post: #{@post.title}" %></h3>

<h5><%= @post.body %></h5>

  <h5><%= "Comments:" %></h5>

  <% @post.comments.each do |i| %> 
    <ol><%= i.body %></ol> 
  <% end %> 

<div>
  <br>
    <%= link_to "Back", posts_path %>
    <%= link_to "New comment", new_post_comment_path(@post) %>
</div>
