<h1><%= "Post: #{@post.title}" %></h1>


<table class="table" >
  <tr>
    <th class="text-center"><%= "Title" %></th>
    <th class="text-center"><%= "Body" %></th>
    <th class="text-center"><%= "Action" %></th>
  </tr>
  <tr>
    <td><%= @post.title %></td> 
    <td><%= @post.body %></td> 
    <td><%= link_to "Edit", edit_post_path(@post) %></td> 
  </tr>
</table>

<br>

<table class="table" >
  <tr>
    <th class="text-center"><%= "Comments" %></th>
  </tr>
  <tr>
    <% Comment.all.each do |i| %> 
      <td><%= i.body %></td> 
    <% end %> 
    
  </tr>
</table>

<div>
  <%= link_to "Back", posts_path %>
  <%= link_to "New comment", new_post_comment_path(@post) %>
</div>
