<!DOCTYPE html>
<html>
  <head>
    <title>SecretWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <% if user_signed_in? %>
        <div  style="display: inline-block; text-align: right; width: 100%">
          Welcome, Agent <b><%= current_user.email %></b>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %> |
          <%= link_to 'New user', new_admin_user_path %>
        </div>
      <% end %>

      <%= render 'shared/flash' %>

    <%= yield %>
    <br>
    <%= render "layouts/footer" %>
    
  </body>
</html>
